/* This is required to make the table full-width */
.tableContainer {
  display: block;
  width: 100%;
  max-width: 100%;

  /* This will make the table scrollable when it gets too small */
  .tableWrap {
    display: block;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  table {
    /* Make sure the inner table is always as wide as needed */
    width: 100%;
    border-spacing: 0;

    /* style head of table */
    thead {
      background: #f2f2f2;
      text-align: center;
    }

    /* style every other row */
    tr:nth-child(even) {
      background: #f2f2f2;
    }

    /* styling divider for header rows */
    .header-row-0 {
      th{
        border-left: solid 2px black;
      }
      th:first-child{
        border-left: none;
      }
    }

    .header-row-1 {
      th:nth-child(3n){
        border-left: solid 2px black;
      }
    }

    /* style divider for rows */
    td:nth-child(3n){
      border-left: solid 2px black;
    }

    td,
    th {
      margin: 0;
      padding: 0.5rem;
      text-align: center;

      :last-child {
        border-right: 0;
      }

      input {
        font-size: 1rem;
        max-width: 150px;
        min-width: 30px;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        background: initial;
        cursor: pointer;
        //border-bottom: 2px solid orange;
      }
    }
  }

  /* style pagination */
  .pagination {
    button {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border: none;
      background-color: initial;
    }
    
    button.active {
      background-color: orange;
      color: white;
    }

    button:focus {
      border: none;
      outline: none;
    }
  }
}
