html,
body,
#root,
.App {
  height: 100%;
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.bg-none {
  background: none;
}

.mt-10 {
  margin-top: 10rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    margin-top: 15rem;
  }
}
